/*presentation_space*/
.presentation_space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 100vh;
    width: 100vw;
    box-shadow: 0 14px 28px rgb(0, 0, 0, 0.1);
}

.presentation_space h1 {
    letter-spacing: 1vh;
}

/*profile pic*/
.image_crooper {
    position: relative;
    background-color: grey;
    border-radius: 50%;
    overflow: hidden;
    min-height: 250px;
    min-width: 250px;
}

.profile_pic {
    position: absolute;
    width: 100%;
    top: -15px;
    left: 0;
    
}

/*media icons*/
.icon_container{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 4em 0 2em 0;
}

.icon_crooper {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
}

.icon_pic {
    position: absolute;
    height: 100%;
}