/* Hoja de estilos */
html body{
    margin: 0;
    padding: 8px;
    display: flex;
    flex-flow: wrap;
}

*{
    box-sizing: border-box;
}

h1 {
    font-family: "Poppins", serif;
    font-weight: 700;
    margin: 0 0 5px 0;
    padding: 0;
}

p {
    font-family: "Poppins", serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

hr {
    display: block;
    width: 100%;
    height: fit-content;
    margin-bottom: 15px;
}

#profile_pick {
    display: block;
    flex-grow: 1;
    width: 15%;
    min-width: 240px;
    height: 100%;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 8px;
}

#box {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25%;
    min-width: min-content;
    height: auto;
    padding: 20px;
    margin: 8px;
}

#box.presentation {
    width: 10%;
    height: auto;
}

#img_box{
    display: block;
    float: left;
    width: 25%;
    height: 100%;
    border-radius: 14px;
    margin-right: 10px;
}

#box div {
    display: block;
    width: 100%;
    height: fit-content;
    margin: 10px 0 10px 0;
}

@media screen and (orientation: portrait){
    #box {
        width: 100%;
    }
}
