/* Hoja de estilos */
/* Main elements styles*/
html body{
    margin: 0;
    padding: 8px 8px 8px 0;
    display: flex;
}

*{
    box-sizing: border-box;
}

h1 {
    font-family: "Poppins", serif;
    font-weight: 700;
    margin: 0 0 8px 0;
    padding: 0;
}

p {
    font-family: "Poppins", serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

hr {
    display: block;
    width: 100%;
    height: fit-content;
    margin-bottom: 15px;
}

/*Storages styles*/
#main {
    display: flex;
    flex-direction: column;
    width: 18%;
    min-width: 300px;
    height: 100%;
}

#main_storage {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 82%;
    min-width: 300px;
    height: 100%;
}

.sub_storage {
    display: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}

#ini_storage {
    display: flex;
}

/*Profile pic style*/
#profile_pic {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0;
    margin: 0;
}

/*Box for content*/
.box{
    display: flex;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: min-content;
    padding: 16px;
}

/*Storage elements*/
#cv_storage > div, #ini_storage > div, #pr_storage > div{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex: 1 0 20%;
    min-width: min-content;
    padding: 16px;
    margin: 0 0 8px 8px;
}

/*Contact & elements*/
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.contact img {
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 8px 0 0 8px;
    cursor: pointer;
}

/*Menu & elements*/
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.menu p {
    font-weight: 500;
}

.icon {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 16px 32px 16px 32px;
    margin: 8px 0 0 8px;
    cursor: pointer;
}

.icon p {
    width: 100%;
    text-align: center;
}

#ini_icon {
    background-color: rgb(148, 148, 148);
}

/*Left image on text*/
#img_box{
    display: block;
    float: left;
    width: 25%;
    border-radius: 14px;
    margin-right: 16px;
}

/*Text on image*/
.img_text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 64px 16px 24px;
}

.img_with_text {
    position: relative;
    color: white;
    margin-left: 8px;
  }

/*Dynamic styles changes*/
@media screen and (orientation: portrait){
    /*Body flex direction*/
    html body {
        flex-direction: column;
    }

    /*Elements width*/
    #cv_storage > div, #ini_storage > div, #pr_storage > div {
        flex: 0 0 100%;
        margin: 0 0 8px 0;
    }

    /*Main width*/
    #main {
        width: 100%;
        margin-bottom: 8px;
    }

    /*Main storage width*/
    #main_storage {
        width: 100%;
        padding-left: 8px;
    }

    /*Image text font size*/
    .img_text {
        font-size: 6.2vw;
        padding: 0 64px 32px 32px;
    }

    /*Storage elements font size*/
    .menu, #main_storage {
        font-size: 4vw;
    }

    /*Menu elements font size*/
    .icon {
        font-size: 6vw;
    }

    /*Contact elements width*/
    .contact img{
        width: 18vw;
    }
}

@media (hover: hover){
    /*Use hover when it is possible*/
    .icon:hover {
        background-color: hsla(0, 0%, 0%, 0.2)!important;
    }
}
